<h2>upload CSV</h2>

<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
    {{fileName || "No file uploaded yet."}}
    <span *ngIf="uploadProgress > 0">upload: {{ uploadProgress }}%</span>
</div>