<h2>CSV data</h2>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Pays</th>
      <th>Ville</th>
      <th>Date création</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <td>{{file.id}}</td>
      <td>
        <a routerLink="/detail/{{file.id}}">
          <span class="badge">{{file.id}}</span> {{file.band_name}}
        </a>
      </td>
      <td>{{file.country}}</td>
      <td>{{file.city}}</td>
      <td>{{file.year_start}}</td>
    </tr>
  </tbody>
</table>
