<div *ngIf="file">
    <h2>{{file.band_name | uppercase}} Details</h2>
    <div><span>id: </span>{{file.id}}</div>
    <div>
      <label for="file-name">Nom groupe : </label>
      <input id="file-name" [(ngModel)]="file.band_name" placeholder="Nom groupe"/>
    </div>
    <div>
      <label for="file-country">Pays : </label>
      <input id="file-country" [(ngModel)]="file.country" placeholder="Pays"/>
    </div>
    <div>
      <label for="file-city">Ville : </label>
      <input id="file-city" [(ngModel)]="file.city" placeholder="Ville"/>
    </div>
    <div>
      <label for="file-year_start">Date création : </label>
      <input id="file-year_start" type="number" [(ngModel)]="file.year_start" placeholder="Date création"/>
    </div>
    <div>
      <label for="file-year_stop">Date de fin : </label>
      <input id="file-year_stop" type="number" [(ngModel)]="file.year_stop" placeholder="Date de fin"/>
    </div>
    <div>
      <label for="file-style">style : </label>
      <input id="file-style" [(ngModel)]="file.style" placeholder="style"/>
    </div>
    <div>
      <label for="file-nb_members">Nombre de personnes : </label>
      <input id="file-nb_members" [(ngModel)]="file.nb_members" placeholder="Nombre de personnes"/>
    </div>
    <div>
      <label for="file-description">description : </label>
      <textarea id="file-description" [(ngModel)]="file.description" placeholder="description">
      </textarea>
    </div>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="save()">save</button>
    <button type="button" class="delete" title="delete file" (click)="delete(file)">delete</button>
  </div>
  